header{
  background-color: var(--primary);
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;

  a {
  color: inherit;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  }

  .yep {
    background-color: black;
    color: var(--primary);
  }

  .yep:hover {
    color: white;
  }

  .ativo {
    display: none;
  }

  a:hover, a:active {
    background-color: black;
  }
}


main {
  background-color: #fcfcfc;
  padding: var(--padding);
}
